body{
    background-color: rgb(47, 23, 99);
}

.Movies{
    display: inline;
    width: 140px;
    height: 300px;
}

.title_and_vote_average *{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 12px;
    margin: 0;
    top: 10px;
}

h6{
    display: inline;
    width: 110px;
    margin: 0;
    text-align: center;
}

p{
    width: 30px;
    text-align: center;
}

.Movies-container{
    position: relative;
    background-color: rgb(77, 48, 117);
    display: inline-block;
    margin: 20px 20px;

    width: 140px;
    height: 300px;

    border-radius: 2%;
    box-shadow: 2px 2px rgb(38, 38, 38);
}

img{
    display: inline;
    width: 140px;
    height: 230px;
}

